html {
overflow-x: hidden;
}
.button:hover{
opacity: 0.5;
}
footer {
position: absolute;
background-color: skyblue;

}
#head {
position: absolute;
}
#lefttower {
position: absolute;
}
#block {
border-style: double;
border-color: black;
position: absolute;

background-image: url("Ratusha.jpg");
background-size: 100%;
opacity: 0.2;
text-align: center;
}
span {

color: black;
}
p {
text-indent: 5%;
}
#h {
font-size: xx-large;
position: absolute;
}
#text {
position: absolute;
font-size: x-large;
}
.button {
border-style: double;
border-color: rgb(68, 0, 255);
background-color: rgb(0, 110, 255);
color: white;
text-align: center;
position: absolute;

}
.buttont {
color: white;
font-size: x-large;
}
#button {
border-color: rgb(255, 0, 0);
background-color: rgb(255, 72, 0);
}
#minsk {

position: absolute;
font-size: large;
color: yellow;
}
#mobile {

position: absolute;
font-size: large;
color: yellow;
}
#mobile:hover {

text-decoration: underline;
}
#lefttower {
position: absolute;

animation-name: leftA;
animation-duration: 10s;
animation-iteration-count: infinite;
}
#righttower {
position: absolute;

animation-name: rightA;
animation-duration: 10s;
animation-iteration-count: infinite;
}
#lefttext {

position: absolute;
animation-name: leftT;
animation-duration: 10s;
animation-iteration-count: infinite;
font-size: xx-large;
color: red;
}
#righttext {
position: absolute;

font-size: xx-large;
animation-name: rightT;
animation-duration: 10s;
animation-iteration-count: infinite;

color: red;
}
@keyframes leftA {
0% {opacity: 1;}
33% {opacity: 1;}
34% {opacity: 0;}
100% {opacity: 0;}
}
@keyframes leftT {
0% {opacity: 0;}
33% {opacity: 0;}
34% {opacity: 1;}
100% {opacity: 1;}
}
@keyframes rightA {
0% {opacity: 1;}
67% {opacity: 1;}
68% {opacity: 0;}
100% {opacity: 0;}
}
@keyframes rightT {
0% {opacity: 0;}
67% {opacity: 0;}
68% {opacity: 1;}
100% {opacity: 1;}
}